<div id="<%= dom_id seat %>">
  <p>
    <strong>Flight:</strong>
    <%= seat.flight_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= seat.name %>
  </p>

  <p>
    <strong>Baggage:</strong>
    <%= seat.baggage %>
  </p>

</div>
